/* Top Header Styles */
.top-header {
    background-color: #0A2540; 
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: 18px;
    align-items: center;
  }
  
  .contact-info {
    display: flex;
    gap: 50px;
    width: 60%;
    justify-content: flex-end;
  }
  
  .contact-info i {
    margin-right: 5px;
    color: #20C20E; 
  }
  
  .social-and-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-right: 20px;
  }
  
  .social-icons i {
    font-size: 16px;
    color: #20C20E; /* Icon color green */
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-btn,
  .register-btn {
    padding: 5px 15px;
    background-color: #FFAA00; /* Orange color for buttons */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .register-btn {
    background-color: #FFAA00; /* Same color as login */
  }
  
  .login-btn:hover,
  .register-btn:hover {
    opacity: 0.9;
  }
  